* {
  margin: 0;
  padding: 0; }

body {
  background-color: #6AECA9 !important; }

#header {
  overflow: visible;
  height: 75px;
  z-index: 100; }

header {
  background-color: #6AECA9;
  height: 75px;
  top: 0;
  position: sticky;
  z-index: 100;
  box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75); }

#main {
  height: auto; }

.nav-link {
  display: inline !important; }

.navbar-toggler-icon {
  display: inline-block;
  width: 2.5em !important;
  height: 3em !important;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.carrousel {
  box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75); }

.carousel-inner {
  height: 650px; }

.card {
  border: 1px solid white !important;
  background-color: #23E882 !important;
  box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75); }

.about-us-img {
  box-shadow: 3px 12px 27px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 12px 27px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 12px 27px 4px rgba(0, 0, 0, 0.75); }

footer {
  height: 100px;
  background-color: #10693B; }

@media (max-width: 991px) {
  .nav-item {
    background-color: white;
    padding: 15px;
    width: 100%; } }

@media (max-width: 1439px) {
  .carousel-inner {
    height: 500px; } }

@media (max-width: 991px) {
  .carousel-inner {
    height: 400px; } }

@media (max-width: 767px) {
  .carousel-inner {
    height: 300px; }
  .card-group {
    flex-direction: column !important;
    align-items: center !important; }
  .card {
    width: 200px !important; }
  #especificaciones {
    font-size: 22px; } }

@media (max-width: 473px) {
  .carousel-inner {
    display: none; }
  #especificaciones {
    font-size: 16px; } }
