*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: yellow;
    height: 80px;
}


/* ul{
    border: 1px solid black;
} */

a{
    border: 1px solid blue;
}

nav{

    border: 1px solid yellow
}

#nav-buttons{
    border: 1px solid yellow;
}

main{
    border: 1px solid black;
    height: 1000px;
}

.carrousel{
    border: 1px solid black;
}

.container{
    border: 1px solid black;
}

.cards{
    border: 1px solid black;
}

.test{
    border: 1px solid black;
}

footer{
    height: 200px;
}