* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body {
  background-color: #89FCB3 !important;
  overflow-x: hidden; }

#header {
  overflow: visible;
  height: 75px;
  z-index: 100; }

header {
  background-color: #70E6BC;
  height: 75px;
  top: 0;
  position: sticky;
  z-index: 100;
  box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 6px 9px rgba(0, 0, 0, 0.75); }

.nav-link {
  display: inline !important; }

#logo {
  width: 165px !important; }

.navbar-toggler-icon {
  display: inline-block;
  width: 2.5em !important;
  height: 3em !important;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.icon {
  height: 20px;
  margin-bottom: 5px;
  margin-right: 5px; }

.scrollhide {
  overflow-x: hidden; }

.sombra-general, .carrousel, .card, .contact-container, .product-container img, .product-container .product-container-1 {
  box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 26px 9px rgba(0, 0, 0, 0.75); }

.espaciado {
  letter-spacing: 5px; }

.footer-abajo {
  margin-top: 170px !important; }

.carrousel {
  height: 650px; }
  .carrousel .carousel-inner {
    height: 650px; }
    .carrousel .carousel-inner .carousel-item {
      height: 650px; }
      .carrousel .carousel-inner .carousel-item .opacado {
        background-color: black;
        opacity: .8; }

.card {
  border: 1px solid white !important;
  background-color: #70E67A !important;
  transition: transform .3s; }
  .card .card-img {
    width: 100%;
    height: 300px !important; }
  .card .card-body .custom-button {
    background: #70E67A;
    background: linear-gradient(120deg, #9cfe7c 50%, white 100%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative; }
  .card .card-body .custom-button:hover {
    transition: .5s;
    color: white !important;
    background: #70E6BC;
    box-shadow: 0px -1px 39px 0px rgba(0, 0, 0, 0.29) inset;
    -webkit-box-shadow: 0px -1px 39px 0px rgba(0, 0, 0, 0.29) inset;
    -moz-box-shadow: 0px -1px 39px 0px rgba(0, 0, 0, 0.29) inset; }
  .card .card-body .custom-button:before,
  .card .card-body .custom-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: white;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all; }
  .card .card-body .custom-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0; }
  .card .card-body .custom-button:hover:before,
  .card .card-body .custom-button:hover:after {
    width: 100%;
    transition: 800ms ease all; }

.card:hover {
  z-index: 50;
  transform: scale(1.05) !important;
  background: linear-gradient(135deg, white 0%, #70e67a 59%) !important; }

.product-card {
  height: 400px !important; }
  .product-card img {
    height: 75% !important; }
  .product-card .card-body h5 {
    font-size: 22px;
    letter-spacing: 2px; }
  .product-card .card-body a {
    letter-spacing: 3px; }

.title,
.title-about {
  position: relative;
  display: inline-block;
  letter-spacing: 7px;
  font-family: 'Times New Roman', Times, serif !important; }

.title-about span {
  font-size: 50px !important; }

.title::before {
  content: '';
  position: absolute;
  background-color: black;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0; }

.title span {
  display: inline-block;
  position: relative;
  font-family: 'Times New Roman', Times, serif !important; }

.title span:before,
.title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 40px;
  width: 470px; }

.title span:before {
  right: 100%;
  margin-right: 15px; }

.title span:after {
  left: 100%;
  margin-left: 15px; }

.contact-container {
  background-color: #70E67A; }

.product-container .product-container-1 {
  background-color: #70E6BC; }

footer {
  height: 40px;
  background-color: #70E67A; }

.float-bottom {
  margin-top: 170px !important; }

@media (max-width: 1400px) {
  .carousel-inner {
    height: 590px !important; }
  .carousel-item {
    height: 590px !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 350px; }
  .card-body h5 {
    font-size: 1.7rem;
    letter-spacing: 3px;
    padding: 0;
    margin-bottom: 0; }
  .card-body a span {
    letter-spacing: 3px; } }

@media (max-width: 1200px) {
  .carousel-inner {
    height: 540px !important; }
  .carousel-item {
    height: 540px !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 290px; }
  .card-family {
    justify-content: space-evenly; }
  .col {
    flex: 0 0 0 !important; }
  .product-card {
    width: 300px; }
    .product-card .card-body h5 {
      margin-bottom: 10px; }
    .product-card .card-body a span {
      font-size: 14px;
      letter-spacing: 3px; } }

@media (max-width: 991px) {
  .nav-item {
    background-color: white;
    padding: 15px;
    text-align: center; }
  .title span:before,
  .title span:after {
    content: "";
    width: 180px; } }

@media (max-width: 992px) {
  .carousel-inner {
    height: 405px !important; }
  .carousel-item {
    height: 405px !important; }
  .carousel-caption .fs-1 {
    font-size: 20px !important; }
  .carousel-caption .fs-4 {
    font-size: 15px !important; }
  .card {
    height: 400px !important; }
    .card .card-img {
      height: 50% !important; }
    .card .card-body h5 {
      font-size: 25px !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 100px; }
  .about-text {
    font-size: 15px !important; }
  .contact-box {
    flex-direction: column; }
    .contact-box .contact-box-2 {
      margin-top: 30px !important; }
  .product-container {
    flex-direction: column;
    justify-content: center; }
    .product-container .product-img {
      width: 80% !important;
      margin-left: 10%; }
    .product-container .product-container-1 {
      margin-top: 10px;
      width: 100% !important; } }

@media (max-width: 768px) {
  .carousel-inner {
    height: 305px !important; }
  .carousel-item {
    height: 305px !important; }
  .card {
    width: 240px !important;
    height: 300px !important; }
    .card .card-img {
      height: 50%; }
    .card .card-body h5 {
      font-size: 15px !important; }
    .card .card-body p {
      font-size: 10px !important; }
    .card .card-body a {
      font-size: 15px !important; }
  .carousel-caption .fs-1 {
    font-size: 15px !important; }
  .carousel-caption .fs-4 {
    font-size: 10px !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 80px; }
  .row-cols-1 > * {
    flex: 0 0 0 !important; }
  .product-card {
    width: 250px !important; }
    .product-card .card-body h5 {
      font-size: 20px !important;
      margin-bottom: 0px; }
    .product-card .card-body a span {
      font-size: 10px;
      letter-spacing: 3px; } }

@media (max-width: 576px) {
  .carousel-inner {
    display: none; }
  .card {
    width: 220px !important;
    height: 300px !important;
    box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.75); }
    .card .card-img {
      height: 50%; }
    .card .card-body h5 {
      font-size: 15px !important; }
    .card .card-body p {
      font-size: 10px !important; }
    .card .card-body a {
      font-size: 15px !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 30px; }
  .card-family {
    justify-content: space-evenly; }
  .col {
    flex: 0 0 0% !important; }
  .product-card {
    width: 200px !important; }
    .product-card .card-body h5 {
      font-size: 20px !important;
      margin-bottom: 3px; }
    .product-card .card-body a {
      padding: 0 !important; }
      .product-card .card-body a span {
        font-size: 11px !important; }
  .about-text {
    font-size: 14px !important; }
  .contact-box .contact-box-1 h1 span, .contact-box .contact-box-2 h1 span {
    font-size: 35px !important; }
  .contact-box .contact-box-1 div p, .contact-box .contact-box-1 span, .contact-box .contact-box-2 div p, .contact-box .contact-box-2 span {
    font-size: 18px !important; } }

@media (max-width: 500px) {
  .sm-card-group {
    flex-direction: column !important;
    align-content: center !important; }
  .title span:before,
  .title span:after {
    content: "";
    width: 15px; }
  .contact-box .contact-box-1 h1, .contact-box .contact-box-2 h1 {
    margin: 20px !important; }
  .contact-box .contact-box-1 h1 span, .contact-box .contact-box-2 h1 span {
    font-size: 25px !important; }
  .contact-box .contact-box-1 div p, .contact-box .contact-box-1 span, .contact-box .contact-box-2 div p, .contact-box .contact-box-2 span {
    font-size: 12px !important; }
  .product-container-1 h2 {
    font-size: 30px; }
  .product-container-1 a {
    font-size: 20px !important; }
  .product-container-1 div p {
    font-size: 15px !important; } }
