#header{
    overflow: visible;
    height: 75px;
    z-index: 100;
}

header{
    background-color: map-get($map: $PaletaDeColores, $key: color2);
    height: 75px;
    top: 0;
    position: sticky;
    z-index: 100;
    box-shadow: 2px 1px 6px 9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 6px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 6px 9px rgba(0,0,0,0.75);
}

.nav-link{
    display: inline !important;
}

#logo{
    width: 165px !important;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em !important;
    height: 3em !important;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.icon{
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;;
}
