a:hover{
    box-shadow: 2px 13px 120px 23px rgba(0,0,0,0.26) inset;
-webkit-box-shadow: 2px 13px 120px 23px rgba(0,0,0,0.26) inset;
-moz-box-shadow: 2px 13px 120px 23px rgba(0,0,0,0.26) inset;
}


ul{
    list-style-type: none;
}
