<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <main>
        <div class="main__contenedor-principal">
            <div class="main__contenedor-principal__titulo">
                <h1>Lista de mis familiares</h1>
            </div>
            <div class="main__contenedor-principal__botones">
                <form action="">
                    <select name="modelo" id="">
                        <option value="modelo1"></option>
                        <option value="modelo2"></option>
                        <option value="modelo3"></option>
                    </select>
                    <input type="text" placeholder="Ingrese el modelo a buscar...">
                </form>
            </div>
            <div class="main__contenedor-principal__lista">
                {% for familiar in lista_familiares %}
                    <ul>
                        <li> Nombre: {{familiar.nombre}}, DNI: {{familiar.dni}}, Fecha de Nacimiento: {{familiar.fecha_de_nacimiento}} </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>